# Except VHDL files at any level
!**/*.vhd
!**/*.vhdl

# Quartus specific ignores in any directory
**/db/
**/simulation/
**/incremental_db/
**/.qsys_edit/
**/output_files/
**/*.qws
**/*.sopcinfo
**/*.rpt
**/*.sof
**/*.pof
**/*.jdi
**/*.pin
**/*.csv
**/*.sld
**/*.qip
**/*.qsf
**/*.qdf
**/*.qpf
**/*.tcl
**/*.sv
**/*.svh
**/*.bak
**/*.cmp
**/*.done
**/*.hex
**/*.jic
**/*.jtag
**/*.log
**/*.mif
**/*.ppf
**/*.qxp
**/*.sld
**/*.sta.rpt
**/*.summary
**/*.v
**/*.wcfg
**/*.wave
**/*.zip
**/*.tar
**/*.gz
**/*.jar
**/*.out
**/*.cf
**/*.vcd
**/*.sft
**/*.vo
